=piece
  background-repeat: no-repeat
  background-position: center center
  width: 32px
  height: 32px

.white_pawn
  background-image: image-url('pieces/white_pawn.png')
  +piece

.white_bishop
  background-image: image-url('pieces/white_bishop.png')
  +piece

.white_knight
  background-image: image-url('pieces/white_knight.png')
  +piece

.white_rook
  background-image: image-url('pieces/white_rook.png')
  +piece

.white_king
  background-image: image-url('pieces/white_king.png')
  +piece

.white_queen
  background-image: image-url('pieces/white_queen.png')
  +piece

.black_pawn
  background-image: image-url('pieces/black_pawn.png')
  +piece

.black_bishop
  background-image: image-url('pieces/black_bishop.png')
  +piece

.black_knight
  background-image: image-url('pieces/black_knight.png')
  +piece

.black_rook
  background-image: image-url('pieces/black_rook.png')
  +piece

.black_king
  background-image: image-url('pieces/black_king.png')
  +piece

.black_queen
  background-image: image-url('pieces/black_queen.png')
  +piece
